<header>
  <div class="container-root">
    <img class="nasa_logo" src="assets/images/nasa_logo.svg">
    <main class="container-main">
      <h1 class="main-title">MARS</h1>
      <h3 class="main-subhead">FORECAST</h3>
      <img src="assets/images/planet2.gif" class="planet_img">
      <section class="main-current_forecast">
        <p>Sol 302</p>
        <p>Elysium. Mars</p>
        <p>H : <span class="highlight"> 15&deg;F</span></p>
        <p>L : <span class="highlight"> 8&deg;F</span></p>
      </section>
      <section class="main-weekly-forecast">
        <button class="btn-forecast">WEEKLY FORECAST</button>
      </section>
    </main>
  </div>
</header>