<header>
  <div class="container-root">
    <img class="nasa_logo" src="assets/images/nasa_logo.svg">
    <main class="container-main">
      <section class="section-title">
        <h1 class="main-title">EARTH</h1>
        <h3 class="main-subhead">DAILY IMAGE</h3>
      </section>
      <section class="section-image">
        <img src={{Image}} class="planet_img">
      </section>
      <section class="section-description">
        <h2>{{myDate.month}}/{{myDate.day}}/{{myDate.year}}</h2>
        <p>Description of where this image came from</p>
      </section>
      <section class="section-change_date">
        <button class="btn-primary" (click)="toggleDate()">CHANGE DATE</button>
      </section>
    </main>
    <section class="modal-change_date" *ngIf="toggleDateState">
      <button class="btn-close" (click)="toggleDate()"><img src="assets/images/close-icon.png"></button>
      <form>

      </form>
    </section>
  </div>
</header>