<section class="modal-change_date">
    <button class="btn-close" (click)="onToggleDate()"><img src="assets/images/close-icon.png"></button>
    <h1 class="form-title">CHANGE DATE</h1>
    <form class="form" (ngSubmit)="OnSubmit(f)" #f="ngForm">
        <label for="month"></label>
        <select
        class="form-option"
        id="month"
        name="month"
        ngModel
        >
        <option value="" disabled selected>Month</option>
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
    <label for="day"></label>
    <input
        class="form-option"
        id="day"
        name="day"
        autocomplete="off"
        ngModel
        placeholder="Day"
        >
        <label for="year"></label>
        <select
        class="form-option"
        id="year"
        name="year"
        ngModel>
        <option value="" disabled selected>Year</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        </select>
        <button class="form-button" type="submit">Submit</button>
    </form>
</section>